<mat-toolbar color="primary">
  <i class="fa fa-newspaper-o"></i><span><mat-icon>newspaper</mat-icon>AJS News&Weather</span> <span class="spacer"></span>
  <div>
    <button mat-button routerLinkActive="mat-warn" [routerLink]="['/home']"><mat-icon>home</mat-icon> Home</button>
    <button mat-button routerLinkActive="mat-accent" [routerLink]="['/headlines']"><mat-icon>headline</mat-icon> Headlines</button>
    <button mat-button routerLinkActive="active" [routerLink]="['/weather']"><mat-icon>weather</mat-icon> Weather</button>
    <button mat-button routerLinkActive="active" [routerLink]="['/contacts']"><mat-icon>contacts</mat-icon> Contacts</button>
  </div>
</mat-toolbar>
