<mat-card class="example-card">
  <mat-card-subtitle>Developed By</mat-card-subtitle>
  <mat-card-title>Amanjot Singh</mat-card-title>
  <mat-card-content>
    <p>Computer branch</p>
    <p>College - BVP</p>
    <p>State - Jammu</p>
    <p>India</p>
<p>3rd Year</p>

  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>

    <p> <mat-icon>perm_phone_msg</mat-icon> 9622383285</p>
    <p> <mat-icon>mail</mat-icon> singhamanjot95@yahoo.com</p>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
