<div style="margin-bottom: 100px; margin-left: 200px;">

  <mat-form-field>
    <mat-label>Weather</mat-label>
    <input
    matInput
    #wea
    placeholder="Enter location"

    />

  </mat-form-field>
  <button mat-mini-fab (click)="onLocation(wea.value)">
Go
  </button>
</div>
<mat-spinner style="margin-left: 200px;" *ngIf="isLoading && !isCard"></mat-spinner>
<mat-card style="margin-left: 200px;" class="example-card" *ngIf="!isLoading && isCard">
  <mat-card-title-group>
    <mat-card-title>{{WeatherData.location.name}}</mat-card-title>
    <mat-card-subtitle>{{WeatherData.location.country}}</mat-card-subtitle>
    <img mat-card-md-image src={{WeatherData.current.condition.icon}} >
  </mat-card-title-group>
  <mat-card-content>
<p>
  <b>
   Weather - {{WeatherData.current.condition.text}}

  </b>
</p>
<p>
<b>
  Local time- {{WeatherData.location.localtime}}

</b>
</p>
<p>
  <b>

    Temprature(f) {{WeatherData.current.temp_f}}*
  </b>
</p>
<p>
  <b>
    Wind speed (kph)-{{WeatherData.current.wind_kph}}

  </b>
</p>
<p>
  <b>
    Humidity -{{WeatherData.current.humidity}}

  </b>
</p>

<p><b>

  Max temp (f) {{WeatherData.forecast.forecastday[0].day.maxtemp_f}}*
</b>
</p>
<p>
  <b>

    Min temp (f) {{WeatherData.forecast.forecastday[0].day.mintemp_f}}*
  </b>
</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button> Sunrise-{{WeatherData.forecast.forecastday[0].astro.sunrise}}</button>
    <button mat-button>Sunset -{{WeatherData.forecast.forecastday[0].astro.sunset}}</button>

  </mat-card-actions>
</mat-card>
